In [2]:
def message():
    """message function untuk menuliskan pesan"""
    print("Please, Enter a value: ")
    a = 10
    print(a)

In [4]:
message()

Please, Enter a value:
10

In [5]:
users = message()
print(users)

Please, Enter a value:
10
None

In [7]:
message.__doc__

'message function untuk menuliskan pesan'

In [8]:
# variabel global
a = 1
b = 11

def print_var():
    """this function will print a variable"""
    
    a = 2
    b = b + 4
    c = b
    
    print(f' [inside function] local variable a: {a}')
    print(f' [inside function] global variable b: {b}')
    print(c)

In [9]:
print_var()

NameError: name 'print_var' is not defined

In [10]:
# variable global
a = 1
b = 11

def print_var():
    """fungsi ini menampilkan variable"""
    
    a = 2
    # b = b + 4
    c = b
    
    print(f'[inside function] local variable a: {a}')
    print(f'[inside function] global variable b: {b}')
    print(c)

In [11]:
print_var()

[inside function] local variable a: 2
[inside function] global variable b: 11
11

In [12]:
print(f'global variable a: {a}')
print(b)

global variable a: 1
11

In [15]:
a = 1

def print_var():
    """fungsi ini menampilkan variable"""
    
    global a
    a = 2
    
    print(f'[inside function] global variable a: {a}')

In [16]:
print_var()

print(f'global variable a: {a}')

[inside function] global variable a: 2
global variable a: 2

In [17]:
def message(m):
    print("pesan: ",m.upper())
    
message("Hello")
message("Hello juga")

pesan:  HELLO
pesan:  HELLO JUGA

In [19]:
def message(what, number):
    print("Enter", what, "number", number)
    
message("telephone", 11)
message("price", 5)
message("number", "number")

Enter telephone number 11
Enter price number 5
Enter number number number

In [20]:
def tambahUmur(nama, umur):
    umur = umur + 0.5
    print(nama, umur)
    
tambahUmur("Adi", 5.1)

Adi 5.6

In [21]:
def introduction(firstName, lastName):
    print("Hello, Nama saya", firstName, lastName)
    
introduction("Jonny", "Kidun")
introduction("Lucky", "Masnun")
introduction("Jesse", "Munaroh")
introduction("Clark", "Misneh")

Hello, Nama saya Jonny Kidun
Hello, Nama saya Lucky Masnun
Hello, Nama saya Jesse Munaroh
Hello, Nama saya Clark Misneh

In [24]:
introduction(firstName = "James", lastName = "Bond")
introduction(firstName = "Joko", lastName = "Luke")

Hello, Nama saya James Bond
Hello, Nama saya Joko Luke

In [27]:
def jumlah(a, b, c):
    print(a, "+", b, "+", c, "=", a + b + c)
    
# memanggil fungsi
jumlah(5,6,4)

5 + 6 + 4 = 15

In [31]:
def introduction(firstName, lastName="Rasmit"):
    print("haii, nama saya", firstName, lastName)
    
# call the function here
introduction(firstName="Nandang")

haii, nama saya Nandang Rasmit

In [34]:
def introductionLengkap(firstName, lastName, middleName="Adi"):
    print("haii nama saya", firstName, middleName, lastName)
    
introductionLengkap(firstName = "James", lastName = "Bond")

haii nama saya James Adi Bond

In [35]:
def print_multi_args(*args):
    """print multiple args"""
    
    #print(type(args))
    for arg in args:
        print(arg)

In [37]:
print_multi_args(1,4,1,76, 'lala', 'lili')

1
4
1
76
lala
lili

In [38]:
def print_multi_key_args(**kwargs):
    """print multiple keyword args"""
    
    #print(type(kwargs))
    for key, value in kwargs.items():
        print(f'{key}: {value}')
        
print_multi_key_args(nama='budi', umur='23', sudah_menikah=False, alamat='jl selatan')

nama: budi
umur: 23
sudah_menikah: False
alamat: jl selatan

In [43]:
def boringFuncton():
    return 123

x = boringFuncton()

print("boringFungtion mengembalikan hasil. yaitu :", x)

boringFungtion mengembalikan hasil. yaitu : 123

In [44]:
def boringFunction():
    print("'Boring Mode' ON.")
    return 123

print("Pelajaran ini menarik!")
boringFunction()
print("Pelajaran ini membosankan")

Pelajaran ini menarik!
'Boring Mode' ON.
Pelajaran ini membosankan

In [45]:
def jumlah(a,b):
    c = a + b
    return c

a= jumlah(3,4)
print(a)

7

In [46]:
def strangeFunction(n):
    if(n % 2 == 0):
        return True
    
print(strangeFunction(4))
print(strangeFunction(3))

True
None

In [49]:
def sumOfList(lst):
    sum = 0
    for elem in lst:
        sum += elem
        
    return sum

sumOfList([5,2,10,30])

47

In [50]:
def strangeListFunction(n):
    strangeList = []
    
    for i in range(0, n):
        print("Insert",i)
        strangeList.insert(0, i)
        print(strangeList)
        
    return strangeList

print("Hasil = ", strangeListFunction(5))

Insert 0
[0]
Insert 1
[1, 0]
Insert 2
[2, 1, 0]
Insert 3
[3, 2, 1, 0]
Insert 4
[4, 3, 2, 1, 0]
Hasil =  [4, 3, 2, 1, 0]

In [51]:
def strangeListFunction(n):
    strangeList = []
    
    for i in range(0, n):
        strangeList.insert(0,i)
        
    return strangeList
print(strangeListFunction(5))

[4, 3, 2, 1, 0]

In [52]:
def pangkat_kuadrat_reguler(nums):
    """return setiap angka pada nums dipangkat 2"""
    
    result = []
    for num in nums:
        result.append(num ** 2)
        
    return result

In [55]:
ls = [1,2,3,4,5,6,7]

result = pangkat_kuadrat_reguler(ls)

print(result)

[1, 4, 9, 16, 25, 36, 49]

In [56]:
def pangkat_kuadrat_map(num):
    """return num dipangkat 2"""
    
    return num ** 2

In [57]:
ls = [1,2,3,4,5,6,7]

In [58]:
result_pangkat = map(pangkat_kuadrat_map, ls)

list(result_pangkat)

[1, 4, 9, 16, 25, 36, 49]

In [60]:
result = list(map(pangkat_kuadrat_map, ls))

print(result)

[1, 4, 9, 16, 25, 36, 49]

In [61]:
def find_odd_number_regular(nums):
    """loop over 'nums' and return only the odd numbers"""
    
    result = []
    for num in nums:
        if num % 2 == 0:
            result.append(num)
            
    return result

In [62]:
ls = [1,2,3,4,5,6,7]

result = find_odd_number_regular(ls)
print(result)

[2, 4, 6]

In [63]:
def find_odd_number_filter(num):
    """return if num is odd number"""
    
    if num % 2 == 0:
        return True
    else:
        return False

In [64]:
def find_odd_number_filter(num):
    """return if num is odd number"""
    
    return num % 2 == 0

In [65]:
ls = [1,2,3,4,5,6,7]

result = list(filter(find_odd_number_filter, ls))
print(result)

[2, 4, 6]

In [66]:
def contain_words_regular(words):
    """loop over 'words' and return if it contins 'selatan'"""
    
    result = []
    for word in words:
        if 'selatan' in word:
            result.append(word)
            
    return result

In [68]:
strings = ['rumahku bertempt di utara', 'rumahmu aku tidak tahu', 'sedangkan rumah dia di selatan']

result = contain_words_regular(strings)
print(result)

['sedangkan rumah dia di selatan']

In [69]:
def contain_words_filer(word):
    """return if 'word' contains the 'selatan'"""
    
    if 'selatan' in word:
        return True
    else:
        return False

In [70]:
def contain_words_filer(word):
    """return if 'word' contains the 'selatan'"""
    
    return 'selatan' in word

strings = ['rumahku bertempt di utara', 'rumahmu aku tidak tahu', 'sedangkan rumah dia di selatan']

result = list(filter(contain_words_filer, strings))
print(result)

['sedangkan rumah dia di selatan']

## Latihan

### Latihan 1

In [73]:
def isYearLeap(year):
    if (year % 4) == 0:
        if (year % 100) == 0:
            if (year % 400) == 0:
                return True
            else:
                return False
        else:
            return True
    else:
        return False
    
testData = [1900, 2000, 2016, 1987]
testResults = [False, True, True, False]
for i in range(len(testData)):
    yr = testData[i]
    print(yr, "->", end="")
    result = isYearLeap(yr)
    if result == testResults[i]:
        print("OK")
    else:
        print("Failed")

1900 ->OK
2000 ->OK
2016 ->OK
1987 ->OK

### Latihan 2

In [75]:
def isYearLeap(year):
    if year % 4 != 0:
        return False
    elif year % 100 != 0:
        return True
    elif year % 400 != 0:
        return False
    else:
        return True

def daysInMonth(year, month):
    if year < 1582 or month < 1 or month > 12:
        return None
    days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    res  = days[month - 1]
    if month == 2 and isYearLeap(year):
        res = 29
    return res

def dayOfYear(year, month, day):
    days = 0
    for m in range(1, month):
        md = daysInMonth(year, m)
        if md == None:
            return None
        days += md
    md = daysInMonth(year, month)
    if day >= 1 and day <= md:
        return days + day
    else:
        return None

print(dayOfYear(2000, 12, 31))

366

### Latihan 3

In [81]:
def l100kmtompg(liters):
    gallons = liters / 3.785411784 
    # 1 mile = "1.60934" meters
    # 1 km   = 1000 meters .. 1000 * 1.60934 = 1609.344
    # 100km = 100 * 1000 meters (The function works on 100 km)
    miles = 100 * 1000 / 1609.344
    return miles / gallons

def mpgtol100km(miles):
    km_100 = miles * 1609.344 * 1000 / 100
    liters = 3.785411784
    return liters / km_100

print(l100kmtompg(3.9))
print(l100kmtompg(7.5))
print(l100kmtompg(10.))
print(mpgtol100km(60.3))
print(mpgtol100km(31.4))
print(mpgtol100km(23.5))

60.31143162393162
31.36194444444444
23.52145833333333
3.900739358761747e-06
7.4909102972399154e-06
1.0009131205673757e-05